{% extends 'base.html' %}
{% block content %}

<div class="box container mt-5">
    <h3 class="is-size-4">Active Tasks</h3>
    <hr>
    <div class="mt-3">
        <table class="table is-striped is-hoverable is-bordered is-fullwidth">
            <thead>
                <th>Task Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{task.task_name}}</td>
                    <td>{{task.task_status}}</td>
                    <td>{{task.created_at}}</td>
                    <td>{{task.end_date}}</td>
                    <td class="text-center">
                        <a class="link mx-3" href="{% url 'task-details' task_id=task.task_id %}">View</a>
                        <a class="link has-text-info mx-3" href="{% url 'update-status' task_id=task.task_id status='completed' %}">Complete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}